<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon-96x96.png" sizes="96x96">

    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

    <title>{{ page.title }}</title>
    {{ page.head }}
</head>
<body>
    <div class="container">

        <h1>
            <a class="pull-left" href="{% if site.baseurl and site.baseurl != "" %}{{ site.baseurl }}{% else %}/{% endif %}"><img style="margin: 10px 0px 10px 10px" src="{{ site.baseurl }}/images/compass.jpg" height="63" width="63"></a>
            <span class="align-middle">{{ site.title }}</span>
        </h1>

        <nav class="nav nav-pills nav-fill rounded bg-light mb-4">
            {% for p in site.navigation %}
            <a class="nav-link {% if p.url == page.url %}active" aria-current="page{% endif %}"" href="{{ p.url | prepend: site.baseurl | replace: '//', '/' }}">{{ p.title }}</a>
            {% endfor %}
        </nav>
    